.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 550px;
    height: 400px;
    margin-top: -660px;
    margin-left: 500px;
    padding: 10px 40px;
    border-radius: 25px;
    box-shadow: 1px 3px 12px #b7b7b7;
    background-color: #f3f3f3;
}

h2 {
    margin: 5px 0;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #ea7c41;
}

input {
    width: 400px;
    height: 32px;
    margin-top: 5px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    box-shadow: -1px 2px 5px #b7b7b7;
    background-color: #f3f3f3;
}

.inp {
    margin: 12px 0;
    height: 40px;
}

.searchBox{
    width: 500px;
    height: 170px;
    margin-top: 20px;
    margin-left: 530px;
    background-color: transparent;
}

.search{
    position: absolute;
    width: 200px;
    margin-top: 40px;
    margin-left: 145px;
}

.deleteBtn{
    position: absolute;
    width: 70px;
    height: 35px;
    margin-top: -130px;
    margin-left: 940px;
}

button {
    width: 400px;
    height: 40px;
    margin-top: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    color: #f8e8e1;
    box-shadow: -1px 3px 8px #b7b7b7;
    background-color: #ea7c41;
    cursor: pointer;
}

button:hover{
    background-color: #e16726;
}

.error {
    margin-top: 5px;
    margin-left: 2px;
    text-align: left;
    font-size: 0.675rem;
    color: red;
}

.noContacts{
    margin-left: 500px;
    width: 550px;
    height: 200px;
    margin-top: -40px;
    padding: 90px 30px 0;
    border-radius: 25px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #ea7c41;
    box-shadow: 1px 3px 12px #b7b7b7;
    background-color: #f3f3f3;
}
